
:root{
    --background-color:#FFFFFF;
    --light-text-color:#FFFFFF;
    --plain-text-color:#757575;
    --link-text-color: #212121;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --footer-contacts-color:rgba(255, 255, 255, 0.6);
    --section-background-color:#2F303A;
}

/*!!!!!!!!!!!!!!!!!!!!!! RESET CSS !!!!!!!!!!!!!!!!!!!!!!*/
P,
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
}

ul, ol{
     margin:0;
     padding-left:0;
     list-style: none;
}

address{
    font-style: none;
}

button{
    cursor:pointer
}

/* body style */
body{
    background-color: var(--background-color);
    font-family:'Roboto' , sans-serif;
    color: var(--plain-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;


}







/* this class is for hiding */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* !!!!!!!!!!!-------header--------!!!!!!!!!!!!!!!!! */
.logo{
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}
.accent{
    color:var(--accent-color)
}
.nav-link, 
.contacts-link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--link-text-color);
}
.current {
    color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.contacts-link{
    color: var(--plain-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}
/* !!!!!!---------hero-----------!!!!!! */
.hero{
    background-color: var(--section-background-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-text-color);
}
.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--light-text-color);
    cursor: pointer;
    background-color: var(--accent-color);
}
/* !!!!!-------features---------!!!!!!!! */
.features-title{
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.feature-text{
    line-height: 1.71;
}
/* !!!!!-------activity---------!!!!!!! */
.section-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}
/* !!!-------team------------!!!!!!!! */
.team-member-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.11;
    color:var(--title-text-color)
}
.team-member-position{
    font-size: 16px;
    line-height: 1.19;
}
/* !!!-------------footer-----------!!!! */
.footer{
    background-color:var(--section-background-color);
}
.footer .logo {
    color: var(--light-text-color);
}

.address-list-item {
    line-height: 1.7;
}

.address-contacts{
    color: var(--footer-contacts-color);
}
/* unique map color */
.address-map{
    color: var(--light-text-color);
}
.address-map:hover,
.address-map:focus,
.address-contacts:hover,
.address-contacts:focus {
    color: var(--accent-color);
}



/*!!!--------PORTFOLIO------------!!!*/
.portfolio-filter-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: #212121;
    background-color: #F5F4FA;

    cursor: pointer;
}
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
    background-color: var(--accent-color);
    color: var(--light-text-color);
}
.active{
    background-color: var(--accent-color);
    color: var(--light-text-color);
}
.portfolio-gallery-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio-gallery-text{
    font-size: 16px;
    line-height: 1.87;
    color: var(--plain-text-color);
}